<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Ecrit Project - Pharmacy Austria"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/at.medevit.ecrit.pharmacy_at.application/css/default.css">
         </property>
         <property
               name="appName"
               value="Ecrit Project - Pharmacy Austria">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://at.medevit.ecrit.pharmacy_at.application/at.medevit.ecrit.pharmacy_at.application.StartupLifeCycleHandler">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="commandparameter.type.stockarticle"
            type="at.medevit.ecrit.pharmacy_at.model.StockArticle">
      </commandParameterType>
      <commandParameterType
            id="commandparameter.type.article"
            type="at.medevit.ecrit.pharmacy_at.model.Article">
      </commandParameterType>
      <commandParameterType
            id="commandparameter.type.prescription"
            type="at.medevit.ecrit.pharmacy_at.model.Prescription">
      </commandParameterType>
      <commandParameterType
            id="commandparameter.type.user"
            type="at.medevit.ecrit.pharmacy_at.application.User">
      </commandParameterType>
      <commandParameterType
            id="commandparameter.type.stockorder"
            type="at.medevit.ecrit.pharmacy_at.model.StockOrder">
      </commandParameterType>
      <commandParameterType
            id="commandParameterType.hashmap"
            type="java.util.HashMap">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/login.css"
            id="at.medevit.ecrit.pharmacy_at.application.theme.login"
            label="Login Theme">
      </theme>
   </extension>
  <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="seller.perspective.selected">
         <with
               variable="activePerspective">
            <equals
                  value="perspective.seller">
            </equals>
         </with>
        </definition>
      <definition
            id="stockist.perspective.selected">
         <with
               variable="activePerspective">
            <equals
                  value="perspective.stockist">
            </equals>
         </with>
      </definition>
      <definition
            id="clerk.perspective.selected">
         <with
               variable="activePerspective">
            <equals
                  value="perspective.clerk">
            </equals>
         </with>
      </definition>
      <definition
            id="admin.perspective.selected">
         <with
               variable="activePerspective">
            <equals
                  value="perspective.admin">
            </equals>
         </with>
      </definition>
   </extension>
</plugin>
