<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Ecrit Project - Pharmacy Austria"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/at.medevit.ecrit.pharmacy_at.application/css/default.css">
         </property>
         <property
               name="appName"
               value="Ecrit Project - Pharmacy Austria">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="commandparameter.article.type"
            type="at.medevit.ecrit.pharmacy_at.model.StockArticle">
      </commandParameterType>
   </extension>

</plugin>
